/* =====FORMAL STUFF===== */
:root{
  --brand-color: #2196F3;
  --default-text-color: #212121;
  --secondary-text-color: #757575;
  --basic-white: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default-text-color);
  font-weight: 500;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px 94px 0px;
}


/* =====HEADER SECTION===== */
.menu {
  border-bottom: 1px solid #ececec;
  padding: 24px 0px 25px 0px;
}

.logo{
  font-family: Raleway;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-accent-black{
  color: var(--default-text-color);
}

.logo-accent-white{
  color: var(--basic-white);
}

.menu-navigation{
  display: flex;
  align-items: center;
}

.navigation{
  margin-left: 93px;
  display: flex;
}

.navigation-link {
  text-decoration: none;
  position: relative;
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  margin-right: 46px;
}

.navigation-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 44.5px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after {
  width: 100%;
  left: 0;
}

.navigation-link-last{
  margin-right: 0px;
}

.navigation-link:hover,
.navigation-link:focus {
  text-decoration: none;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;  
  line-height: 1.142;
  letter-spacing: 0.02em; 
  outline: none;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-active {
  color :var(--brand-color);
}

.navigation-link-active::after {
  position: absolute;
  content: "";
  display: block;
  top: 44.5px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts{
  display: flex;
}

.contacts-link-mail{
  margin-left: 345px;
  margin-right: 30px;
}

.contacts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;  
  font-weight: 500;
  line-height: 1.142; 
  letter-spacing: 0.02em;
  fill: var(--secondary-text-color); 
}

.contacts-link:hover,
.contacts-link:focus {
  text-decoration: none;
  color: var(--brand-color);
  fill: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
  outline: none;
}

.ico-email {
  margin-right: 10px;
}

.ico-phone {
  margin-right: 10px;
}


/* =====ORDER SECTION===== */
.order-container {
  padding: 200px 0px 200px 0px;
  background: #2F303A;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/back.png");
  text-align: center;
  display: flex;
  justify-content: center;
}

.order-container h1{
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--basic-white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--basic-white);
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 41px 10px 42px;
}


/* =====FILTERS ON PORTFOLIO SITE===== */
.filters-list {
  display: flex;
  justify-content: center;
}

.button-port{
  background: #F5F4FA;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;  
  border: none;
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.button-port:hover,
.button-port:focus{
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Roboto";
  color: var(--basic-white);
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* =====OUR ADVANTAGES SECTION===== */
.our-advantages ul h2{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--default-text-color);
  margin-bottom: 10px;  
}

.paragraphs{
  display: flex;
}

.paragraphs li{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);  
}

.paragraphs-item {
  margin-right: 30px;
}

.paragraphs-item-last {
  margin-right: 0px;
}

.company-logo {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}


/* =====OFFER SECTION===== */
.offer{
  padding-top: 0px;
}

.offer h2{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.offer-list {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.offer-list-item-style {
  position: relative;
}

.offer-list-description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 27px, 94px, 27px, 94px ;

  background: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--basic-white);
}

.offer-list-description-text{
  padding-top:27px;
  padding-bottom:27px;
}

/* =====TEAM SECTION===== */
.team{
  background: #F5F4FA;
}

.team h2{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.persons-list{
  display: flex;
  justify-content: space-between;
}

.persons-list-description{
  background-color: var(--basic-white);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.persons-list h4{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.persons-list h5{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.persons-list-item{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.persons-list-item img{
  display: block;
}

.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-icon:hover,
.social-list-icon:focus {
  fill: #fff;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  background-color: #fff;
  fill: #afb1b8;
  border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/* =====PORTFOLIO SECTION===== */
.portfolio-list-item-description {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px;
}

.portfolio h4{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;  
}

.portfolio h5{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color); 
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 30px;
}

.portfolio-list-item img {
  display: block;
}

.popup {
  position: relative;
  overflow: hidden;
}

.popup-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: var(--basic-white);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}

.portfolio-list-item:hover .popup-text {
  transform: translateY(-100%);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

/* =====CLIENTS SECTION===== */

.clients-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.clients-list-logo a{
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #afb1b8;
  fill: #afb1b8;
}

.clients-list-logo a:hover,
.clients-list-logo a:focus {
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/* =====FOOTER SECTION===== */
/* .footer{
  background: #2F303A;
  padding: 60px 0px 60px 0px;
}

.address{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 11px;
  color: var(--basic-white);  
}

.address .contacts-link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.address .contacts-link:hover,
.address .contacts-link:focus{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--brand-color);
} */

.footer{
  background: #2F303A;
  padding: 60px 0px 60px 0px;
}

.footer-section{
  display: flex;
}

.footer-list{
  margin-top:20px;
}

.footer-address{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--basic-white);
}

.footer-list-item{
  margin-top:9px;
}

.footer-link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.social-media-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--basic-white);
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-list-icon {
  width: 20px;
  height: 20px;
}

.social-media-list-icon:hover,
.social-media-list-icon:focus {
  fill: var(--basic-white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;
}

.social-media-list-link:hover,
.social-media-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== MODAL WINDOW ===== */

.backdrop {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--basic-white);
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--basic-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:hover{
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0.733);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* =====FORM IN MODAL WINDOW===== */

.form_for_offer {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form h4 {
  margin-top: 40px;
  margin-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--default-text-color);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 448px;
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.form-input:hover{
  fill: #2196F3;
}

/* .form-input-imie {
  background-image: url("../images/chopek.svg");
  background-position: 11px 12px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  padding-left: 42px;
}

.form-input-telefon {
  background-image: url("../images/tele.svg");
  background-position: 11px 12px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  padding-left: 42px;
}

.form-input-email {
  background-image: url("../images/Mail.svg");
  background-position: 11px 12px;
  background-size: 15px 12px;
  background-repeat: no-repeat;
  padding-left: 42px;
} */

textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
}

.form-inputs label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-text {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-label {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-label-icon{
  position: absolute;
  right: 421px;
  top: 32px;
}

.form-label:hover,
.form-label:focus-within,
.form-label:active {
  outline: none;
  fill: var(--brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form-textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  box-sizing: border-box;
}

.form-input:hover,
.form-input:focus,
.form-input:active,
.form-textarea:hover,
.form-textarea:focus,
.form-textarea:active {
  border-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-input-zgoda {
  width: 0;
  height: 0;
}

.form-checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-text {
  margin-left: 8px;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.checkbox-text a {
  color: rgba(33, 150, 243, 0.9);
}

.checkbox-text::before {
  display: inline-flex;
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
}

.form-input-zgoda:checked + .checkbox-text::before {
  display: inline-flex;
  border: none;
  content: "";
  background-color: var(--brand-color);
  border: solid 2px var(--brand-color);
  border-radius: 2px;
  background-image: url("../images/ptaszek.svg");
  fill: var(--basic-white);
}

.form_button {
  width: 200px;
  height: 50px;

  margin-left: 124px;
  margin-top: 30px;
  margin-bottom: 40px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--basic-white);
}



.footer-newsletter {
  display: flex;
}

.footer-form {
  margin-left: 78px;
}

.footer-form form {
  display: flex;
}

.footer-label-text {
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--basic-white);
}

.footer-input-email {
  height: 50px;
  width: 350px;
  background-color: var(--default-text-color);
  color: var(--basic-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input-email::placeholder {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  align-items: center;
  fill: var(--basic-white);
  width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--basic-white);
}

.footer-button-text {
  margin-left: 42px;
}

.Submit-ico {
  margin-left: 24px;
}

.footer-input-email{
  padding-left: 16px;
}

.footer-input-email:hover,
.footer-input-email:focus,
.footer-input-email:active {
  border-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}